{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mon site web</title>
    <link rel="stylesheet" href="{% static 'css/style_index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <form method="POST" class="example" action="">
        {% csrf_token %}
        <div class="search">
            <input type="text" class="searchTerm" placeholder="Search for a movie or a TV show" name="search">
            <button type="submit" class="searchButton">
              <i class="fa fa-search"></i>
           </button>
        </div>
    </form>
</body>
</html>
